/* Styles généraux */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #057660;
    color: #fff;
    padding: 1rem 0 0 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    background-color: #03a282;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section styles */
section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section h2 {
    color: #057660;
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: center;
    text-decoration: none;
    color: #057660;
    margin: 3rem;
}

/* Galerie styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: max(25rem);
    grid-auto-flow: dense;
    width: 100%;
    gap: 2rem;
}

.gallery-item {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 4px 4px 10px #057660;
}

.gallery-item img {
    width: 100%;
    height: 20rem;
    display: block;
    object-fit: cover;
}

.gallery-item:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.gallery-item p {
    padding: 0.5rem;
    font-weight: bold;
    color: #333;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #057660;
    color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .gallery {
        grid-template-columns: 1fr; /* Une seule colonne */
    }

    section {
        padding: 1rem;
    }

    section h2 {
        font-size: 1.5rem; /* Réduction de la taille */
    }

    .gallery-item img {
        height: 15rem; /* Ajustement pour les petits écrans */
    }
}